body {
  background: #e8f0f8;
  margin: 0px;
  padding: 0px;
}

body,
input,
button,
select {
  font-family: "Noto Color Emoji", sans-serif;
  font-size: 16px;
}

#container {
  background: white;
  max-width: 900px;
  margin: 0px auto;
  padding: 0px;
  position: relative;
  box-sizing: border-box;
}

header {
  margin: 0px;
  padding: 0px;
}

main {
  margin: 0px;
  padding: 0px 1em;
}

footer {
  border-top: solid 1px #ccc;
  margin: 1ex 0px;
  padding: 1ex 0px;
  text-align: center;
  color: #888;
}

footer a {
  color: #888;
  text-emphasis: underline;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
blockquote {
  margin: 10px 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 20px;
  margin-top: 0px;
}

h2 {
  font-size: 18px;
  background: #cde;
  border-radius: 5px;
  padding: 5px 10px;
}

h3 {
  font-size: 16px;
}

ul,
ol {
  padding: 0px 0px 0px 2em;
}

li {
  margin: 1ex 0px;
  padding: 0px;
}

li p:first-child,
li ul:first-child,
li ol:first-child,
li blockquote:first-child {
  margin-top: 0px;
}

table {
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  border-collapse: collapse;
  font-size: 80%;
  line-height: 2.5ex;
}

tr:nth-child(odd) {
  background-color: #f8f8f8;
}

th,
td {
  border: solid 1px #888;
  padding: 0.2ex 0.5em;
}

th {
  background: #ddd;
}

.nowrap {
  white-space: nowrap;
}

pre,
code {
  font-family: Consolas, 'Courier New', Courier, monospace;
}

pre,
.codeHiddenBox {
  border: solid 1px #ccc;
  box-sizing: border-box;
  padding: 1ex 1em;
  background: #f8f8f8;
}

pre {
  max-height: 50vh;
  min-height: 100px;
  overflow: scroll;
  font-size: 80%;
}

code {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
  padding: 0px 5px;
  color: #246;
  font-weight: bold;
}

input,
select,
button {
  display: inline-block;
  height: 30px;
  box-sizing: border-box;
  line-height: 100%;
  padding: 0px 5px;
  margin: 0;
}

input[type="checkbox"] {
  accent-color: #04F;
  transform: scale(1.5);
  margin-right: 7px;
}

.propertySection {
  background: #f0f4f8;
  border: solid 1px #cde;
  border-radius: 5px;
  margin: 10px 0px;
  padding: 0px;
  overflow: hidden;
}

.propertySection ul {
  margin: 0;
  padding: 0 5px 0 5px;
  list-style: none;
}

.propertySection ul::after {
  content: "";
  display: block;
  clear: both;
}

.propertySection li {
  float: left;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  line-height: 40px;
}

.sectionHeader {
  display: inline-block;
  width: 100px;
  margin: 0 10px 0 -5px;
  padding: 0px;
  background: #cde;
  border-radius: 0 0 5px 0;
  text-align: center;
  font-weight: bold;
}

.propertySection input,
.propertySection select,
.propertySection button {
  vertical-align: top;
  position: relative;
  top: 5px;
}

.propertySection p,
.propertySection pre {
  margin: 5px;
}

.propertyContainer {
  margin: 0 10px 0 0;
  padding: 0 10px;
}

.sampleImageButton {
  display: inline-block;
  width: 30px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 100%;
  border: solid 1px #888;
  border-radius: 3px;
  margin-right: 3px;
  cursor: pointer;
}

.upDown {
  display: inline-block;
  width: 20px;
  background-image: url('./img/updown.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 25px;
  border: none;
  cursor: ns-resize;
}

.presetButton {
  display: inline-block;
  height: 80px;
  line-height: 100%;
  margin: 5px;
  padding: 5px 10px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.presetButton img {
  height: 50px;
  width: auto
}

.hidden {
  display: none;
}

.dropTarget {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  z-index: 9999;
  text-align: center;
  color: #FFF;
  padding-top: calc(50vh - 2em);
  font-size: 30px;
}